.loginView::after {
  background-image: url("../assets/1.jpg");
  background-position: center top;
}

.signupView::after {
  background-image: url("../assets/bg.jpg");
  background-position: center top;
}

.loginView,
.signupView {
  position: relative;

  &::after {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    content: "";
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    z-index: -1;
  }

  header, footer {
    border: none;
  }

  header .user-indicator span {
    color: white;
    text-shadow: 1px 1px 2px #333;
  }

  .main-nav > ul > li > a {
    color: white;

    &:not([role="button"]) {
      text-shadow: 1px 1px 2px #333;
    }
  }

  .content {
    padding: 50px;
    width: 40%;
  }

}

.form__info {
  margin-bottom: 50px;

  h2 {
    margin-bottom: 10px;
  }

  p {
    color: lighten($base-text-color, 40%);
    line-height: 1.8em;
  }
}


.user-form {
  margin: 50px auto;
}

.user-form-wrap {
  display: block;
  position: relative;
  text-align: right;
  width: 100%;
}
