@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700');

$logo-font: 'Gloria Hallelujah', cursive;
$text-font: 'Nunito', sans-serif;


@font-face {
  font-family: 'animelistr';
  src:  url('../assets/fonts/animelistr.eot?xt4vv7');
  src:  url('../assets/fonts/animelistr.eot?xt4vv7#iefix') format('embedded-opentype'),
    url('../assets/fonts/animelistr.ttf?xt4vv7') format('truetype'),
    url('../assets/fonts/animelistr.woff?xt4vv7') format('woff'),
    url('../assets/fonts/animelistr.svg?xt4vv7#animelistr') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'animelistr' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-minus-circle:before {
  content: "\f056";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-times:before {
  content: "\e900";
}
.icon-tick:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-minus:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-arrow-right-thick:before {
  content: "\e906";
}
.icon-arrow-left-thick:before {
  content: "\e907";
}
.icon-th-menu:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
.icon-arrow-up-thick:before {
  content: "\e90a";
}
.icon-arrow-down-thick:before {
  content: "\e90b";
}
.icon-heart:before {
  content: "\e90c";
}
