form {
  text-align: left;

  label {
    display: block;
    margin: 15px 0;
  }

  input {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    margin: 5px 0;
    padding: 0 5px;
    width: 100%;
  }

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 0 10%;
  }

  button,
  input {
    height: 44px;
  }

}
