* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    background-color: $base-bg-color;
    color: $base-text-color;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.content {
  padding: 50px 5%;
  min-height: calc(100vh - 223px);
}

footer {

}

footer,
.push {
  height: 50px;
}
