header {
  border-bottom: 1px solid $border-color;
  box-sizing: border-box;
  display: flex;
  padding: 20px 2%;
  position: relative;
  width: 100%;
  text-align: left;

  h1 {
    font-family: $logo-font;
    font-size: 2rem;
    line-height: 1;
  }

  h1, .menu-wrap {
    flex: 1;
  }

  .menu-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    text-align: right;
  }

  nav, .user-indicator {
    display: inline-block;

  }

}


.user-indicator .user-indicator__username {
    margin-left: 20px;
}

.user-indicator__menu {
  //display: none;
  width: 200px;

  & > li {
    display: block;
    //padding: 10px 5px;
  }

  &.user-indicator__menu-active {
    display: block;
  }
}
