$base-bg-color: #F1F1F1;
$base-text-color: #333;
$border-color: #ccc;

$soft-pink: #F5E1DA;
$base: #F1F1F1;
$turquoise: #40A798;
$dark-turquoise: #476269;

$active-link: lighten($base-text-color, 40%);
