$base-bg-color: #FAFAFA;
$base-text-color: #333;
$border-color: #ccc;
$bright-color: #46cffe;
$hover-color: darken($bright-color, 20%);

$active-link: lighten($base-text-color, 40%);


@mixin buttonStyle($bgcolor, $textcolor) {
  background-color: $bgcolor;
  color: $textcolor;
  transition: all 0.6s;

  &:hover {
    background-color: darken($bgcolor, 15%);
  }
}
